{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-vue-jsx",
    [
      "component",
      [
        {
          "libraryName": "element-ui",
          "style": "theme-chalk"
        }
      ]
    ]
  ]
}
